<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Passwords list</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
        form {
            float: left;
            margin-right: 5px;
        }
    </style>

    <script>
        function disableAlertMessage() {
            alert('You have to switch to the modify mode to use this option.')
        }

        function notOwnerAlertMessage() {
            alert('You have to be an owner to use this option.')
        }
    </script>
</head>

<body>
<div class="container">
    <h3>Password Wallet</h3>
    <hr>

    <a th:href="@{/passwords/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Password
    </a>

    <a th:href="@{/}"
       class="btn btn-primary btn-sm mb-3">
        Return to Home Page
    </a>

    <a th:href="@{/passwords/showDeleted}"
       class="btn btn-primary btn-sm mb-3">
        Show Deleted Passwords
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Login</th>
            <th>Password</th>
            <th>Web address</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempPassword : ${passwords}">
            <td th:text="${tempPassword.getLogin()}"/>
            <td>
                <a th:href="@{/passwords/showPassword(passwordId=${tempPassword.getId()})}"
                   th:text="${tempPassword.getPassword()}"/>
            </td>
            <td th:text="${tempPassword.getWebAddress()}"/>
            <td th:text="${tempPassword.getDescription()}"/>

            <td>

                <form th:action="@{/passwords/showFormForShare}" method="get" class="form">
                    <div style="display:inline-block; position:relative;">
                        <button type="submit" class="btn btn-info btn-sm"
                                th:name="passwordId"
                                th:value="${tempPassword.getId()}"
                                th:disabled="${!(session.user.getId() == tempPassword.getIdUser())}"
                        >Share
                        </button>
                        <div style="position:absolute; left:0; right:0; top:0; bottom:0; cursor: pointer;"
                             onclick="notOwnerAlertMessage()"
                             th:if="${!(session.user.getId() == tempPassword.getIdUser())}"
                        ></div>
                    </div>
                </form>

                <form th:action="@{/passwords/showFormForUpdate}" method="get" class="form">
                    <div style="display:inline-block; position:relative;">
                        <button type="submit" class="btn btn-info btn-sm"
                                th:name="passwordId"
                                th:value="${tempPassword.getId()}"
                                th:disabled="${session.modifyMode == false || !(session.user.getId() == tempPassword.getIdUser())}"
                        >Update
                        </button>

                        <div style="position:absolute; left:0; right:0; top:0; bottom:0; cursor: pointer;"
                             onclick="disableAlertMessage()"
                             th:if="${session.modifyMode == false || !(session.user.getId() == tempPassword.getIdUser())}">

                        </div>
                        <div style="position:absolute; left:0; right:0; top:0; bottom:0; cursor: pointer;"
                             onclick="notOwnerAlertMessage()"
                             th:if="${!(session.user.getId() == tempPassword.getIdUser())}">

                        </div>
                    </div>
                </form>

                <form th:action="@{/backup/listBackup}" method="get" class="form">
                    <div style="display:inline-block; position:relative;">
                        <button type="submit" class="btn btn-info btn-sm"
                                th:name="passwordId"
                                th:value="${tempPassword.getId()}"
                                th:disabled="${session.modifyMode == false || !(session.user.getId() == tempPassword.getIdUser())}"
                        >Versions
                        </button>

                        <div style="position:absolute; left:0; right:0; top:0; bottom:0; cursor: pointer;"
                             onclick="disableAlertMessage()"
                             th:if="${session.modifyMode == false || !(session.user.getId() == tempPassword.getIdUser())}">

                        </div>
                        <div style="position:absolute; left:0; right:0; top:0; bottom:0; cursor: pointer;"
                             onclick="notOwnerAlertMessage()"
                             th:if="${!(session.user.getId() == tempPassword.getIdUser())}">

                        </div>
                    </div>
                </form>

                <form th:action="@{/passwords/delete}" method="get" class="form">
                    <div style="display:inline-block; position:relative;">
                        <button type="submit" class="btn btn-danger btn-sm"
                                th:name="passwordId"
                                th:value="${tempPassword.getId()}"
                                th:disabled="${session.modifyMode == false || !(session.user.getId() == tempPassword.getIdUser())}"
                        >Delete
                        </button>
                        <div style="position:absolute; left:0; right:0; top:0; bottom:0; cursor: pointer;"
                             onclick="disableAlertMessage()"
                             th:if="${session.modifyMode == false || !(session.user.getId() == tempPassword.getIdUser())}">
                        </div>
                        <div style="position:absolute; left:0; right:0; top:0; bottom:0; cursor: pointer;"
                             onclick="notOwnerAlertMessage()"
                             th:if="${!(session.user.getId() == tempPassword.getIdUser())}"
                        ></div>
                    </div>
                </form>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>