<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employee Directory</title>

    <link rel="stylesheet" th:href="@{/static/css/demo.css}"/>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h3>Password Wallet</h3>
    <hr>

    <a th:href="@{/passwords/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Password
    </a>

    <a th:href="@{/}"
       class="btn btn-primary btn-sm mb-3">
        Return to Home Page
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Login</th>
            <th>Password</th>
            <th>Web address</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempPassword : ${passwords}">
            <td th:text="${tempPassword.getLogin()}"/>
            <td>
                <a th:href="@{/passwords/showPassword(passwordId=${tempPassword.getId()})}"
                   th:text="${tempPassword.getPassword()}"/>
            </td>
            <td th:text="${tempPassword.getWebAddress()}"/>
            <td th:text="${tempPassword.getDescription()}"/>

            <td>
                <a th:href="@{/passwords/showFormForUpdate(passwordId=${tempPassword.getId()})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>

                <a th:href="@{/passwords/delete(passwordId=${tempPassword.getId()})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this password?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>