<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Change password</h1>

<form th:action="@{/changePassword}" th:object="${newPassword}" method="post">
    <div><label> New password: <input type="password" th:field="*{newPassword}"/> </label></div>
    <div><label> Repeat password: <input type="password" th:field="*{repeatPassword}"/> </label></div>
    <div><label> Choose algorithm:
        <select th:field="*{algorithm}">
            <option th:value="'SHA-512'" th:text="SHA-512"></option>
            <option th:value="'HMAC'" th:text="HMAC"></option>
        </select>
    </label></div>
    <div><input type="submit" value="Change"/></div>
</form>


<p th:if="${hasErrors == 'true'}">The password in both fields must be the same!</p>


</body>
</html>