<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Change Password</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h3>Password Wallet</h3>
    <hr>

    <p class="h4 mb-4">Change Password</p>
    <hr>

    <a th:href="@{/}"
       class="btn btn-primary btn-sm mb-3">
        Return to Home Page
    </a>
    <hr>

    <form th:action="@{/passwords/changePassword}" th:object="${newPassword}" method="post">

        <!--    <div><label> New password: <input type="password" th:field="*{newPassword}"/> </label></div>-->

        <p th:if="${hasErrors == 'true'}">The password in both fields must be the same!</p>
        <p th:if="${hasErrors == 'false'}">The password has been successfully changed.</p>

        <div class="form-group">
        <input type="password" th:field="*{newPassword}"
               class="form-control mb-4 col-4" placeholder="New password">

        <!--    <div><label> Repeat password: <input type="password" th:field="*{repeatPassword}"/> </label></div>-->

        <input type="password" th:field="*{repeatPassword}"
               class="form-control mb-4 col-4" placeholder="Repeat password">
        </div>

        <div class="form-group">
            <label for="controlSelect"> Choose algorithm: </label>
            <select class="form-control" id="controlSelect" th:field="*{algorithm}">
                <option th:value="'SHA-512'" th:text="SHA-512"></option>
                <option th:value="'HMAC'" th:text="HMAC"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-info col-2">Change</button>
    </form>

</div>

</body>
</html>