<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login Page</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h3>Password Wallet</h3>
    <hr>

    <p class="h4 mb-4">Login Page</p>

<!--    TODO: remove exception code-->
    <div th:if="${param.error}"
         th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION']}">
    <span th:text="${errorMsg}"></span>
</div>

<form th:action="@{/login}" method="POST">

    <input type="text" class="form-control mb-4 col-4" name="username" placeholder="Login">
    <input type="password" class="form-control mb-4 col-4" name="password" placeholder="Password">

    <button type="submit" class="btn btn-info col-2">Sign In</button>
</form>

<hr>
<a th:href="@{/users/showFormForRegistration}"
   class="btn btn-primary btn-sm mb-3">
    Sign up
</a>

</div>

</body>
</html>